.App {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}

.taskListContainer {
  width: calc(100%/3);
  margin-top: 50px;
}

.taskListContainer h1 {
  letter-spacing: .5em;
  color: white;
}

.taskInput {
  width: 100%;
  
}

.taskInput input {
  width: 100%;
  padding: 15px;
}